.repl_history
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*

provisioning
vendor/cache
vendor/Pods
ib.xcodeproj
resources/fontawesome-webfont.ttf
resources/fontawesome.plist
resources/Settings.bundle/
